<!DOCTYPE html>
<html lang="en">

<head>
    <title>Video Stream</title>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/socket.io/2.3.0/socket.io.js"></script>
    <script src="https://docs.opencv.org/3.4.0/opencv.js"></script>
</head>

<body>
    <img src="{{ url_for('video_feed') }}" alt="" />
    <img src="{{ url_for('video1') }}" alt="" width="50%" />

    <div id="container">
        <canvas id="canvasOutput"></canvas>
        <video autoplay="true" id="videoElement"></video>
    </div>

    <div class='video'>
        <img id="image">
    </div>


</body>


<script>
    var socket = io.connect('http://' + document.domain + ':' + location.port);

    socket.on('connect', function() {
        console.log("Connected...!", socket.connected)
    });

    const video = document.querySelector("#videoElement");

    video.width = 500;
    video.height = 375;;

    navigator.getUserMedia = navigator.getUserMedia || navigator.webkitGetUserMedia || navigator.mozGetUserMedia;


    if (navigator.getUserMedia) {
        navigator.getUserMedia({
                video: true
            })
            .then(function(stream) {
                video.srcObject = stream;
                video.play();
            })
            .catch(function(err0r) {
                console.log(err0r)
                console.log("Something went wrong!");
            });
    }

    let src = new cv.Mat(video.height, video.width, cv.CV_8UC4);
    let dst = new cv.Mat(video.height, video.width, cv.CV_8UC1);
    let cap = new cv.VideoCapture(video);

    const FPS = 22;

    setInterval(() => {
        cap.read(src);

        var type = "image/png"
        var data = document.getElementById("canvasOutput").toDataURL(type);
        data = data.replace('data:' + type + ';base64,', '');

        socket.emit('image', data);
    }, 10000 / FPS);


    socket.on('response_back', function(image) {
        print('received');
        const image_id = document.getElementById('image');
        image_id.src = image;
    });
</script>

</html>